a{
    text-decoration: none !important;
    color: var(--color-text) !important;
    font-size: small !important;
}

:root{
    --color-primary:#084298;
    --color-text: #000;
    --color-price: red;
    --color-button:#9EC5FE;
    --color-seemore:#3D8BFD;
}